#Directories#
**/figure_stuff
**/checkpoints
**/plots
**/pretrain_weights #from spec next master
**/clusterRef
GraphGen/scores/*
GraphGen/output/*
Figures/*
output/*
**/GraphGen/log
**/Clustering/data/clusterRef
data/4H_dataset/LoopsToFit/*
data/4H_dataset/models/*
data/4H_dataset/str_models/*
data/4H_dataset/str_models_test/*

*.pkl
*.jsonl
*.json
*.ipynb_checkpoints
*.npz
*.png
*.h5
*.gz
*.tf
*.pt
log/*
**/__pycache__
loop_struct.txt
*FullSet*
refData_scaler.gz
Buttress_Simple.ipynb
Exclude_Certain_Clusters.ipynb
Figures.ipynb
LE_many_helix_rewrite.ipynb
MDS_replace.ipynb
Midpoint_Buttress_Redo.ipynb
Tetrahedron_Volume_Corr.ipynb
Untitled.ipynb
